/* Scroll Bar Page Element */
html{scrollbar-width:thin}
html::-webkit-scrollbar{width:5px;background-color:#f5f5f5}
html::-webkit-scrollbar-thumb{background-color:#333333;border-radius:0px}
.element{scrollbar-width:thin}
.element::-webkit-scrollbar{width:5px;background-color:#f5f5f5}
.element::-webkit-scrollbar-thumb{background-color:#333333;border-radius:0px}

/* Scroll Indicator Load */
.progress-container{width:100%;position:fixed;top:0;left:0;z-index:9999}.progress-bar{height:5px;background:#333333;width:0%}

/* BacktoTop */
.back-top{display:none;position:fixed;bottom:30px;right:30px;width:50px;height:50px;background:#333333;cursor:pointer;overflow:hidden;color:#ffffff;text-align:center;line-height:50px;z-index:2;border-radius:50px}
.rtl .back-top{right:auto;left:15px}
.back-top:after{content:'\f077';position:relative;font-family:'Font Awesome 5 Free';font-weight:900}
.back-top:hover{opacity:.8;box-shadow:0 0 5px rgba(0,0,0,0.15)}

@media screen and (max-width: 880px) {
.nav-active .back-top{opacity:0!important}

}